body{
    background:whitesmoke;
  }
  
  .container
  {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  .personal_info
  {
    width:50%;
  }
  
  .personal_info > p,form>p
  {
    font-weight:bold;
    font-family:Sans-serif;
    font-size:1.3em;
  }
  
  form>input[type="text"],form>[type="email"],form>input[type="password"],form>input[type="number"],form>input[type="text"]
  {
    width:46%;
    padding:1.5%;
    font-size:15px;
    outline:none;
    border:2px solid silver;
  }
  
  .faqs
  {
    width:50%;
    line-height:40px;
    color:gray;
  }
  
  .faq_details>span
  {
    color:black;
    font-size:1.2em;
    font-family:courier;
    font-weight:bold;
  }
  
  
  
  /* ---------------------save button----------------- */
  #save1,#save2,#save3
  {
    outline:none;
    border:none;
    font-weight:bold;
    font-size:15px;
    padding:1%;
    background:black;
    color:white;
  }